/* Responsive - Start */

@media (min-width: 320px) and (max-width: 766px) {
	
}
@media (min-width: 767px) and (max-width: 991px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
	
	/* Default stylesheet - Start */
	.page-title{
		padding:12px 15px 11px 50px;
	}
	/* Default stylesheet - End */
}
@media (min-width: 1200px) and (max-width: 1679px) {
	
}
@media (min-width: 1680px) {

}

	/* iPad Landscape - Start */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

	}
	/* iPad Landscape - End */

	/* ----------- iPad Pro 12.9" ----------- */

	/* Portrait and Landscape */
	@media (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
		
	}

	/* Portrait */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
		
	}

	/* Landscape */
	/* Declare the same value for min- and max-width to avoid colliding with desktops */
	/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
	@media only screen 
	and (min-device-width: 1366px) 
	and (max-device-width: 1366px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {

	}

/* Responsive - End */

/* Fix text alignment - Start */
@media (min-width: 320px) and (max-width: 766px) {
	.text-xs-left { text-align: left; }
	.text-xs-right { text-align: right; }
	.text-xs-center { text-align: center; }
	.text-xs-justify { text-align: justify; }
}

@media (min-width: 767px) {
 	.text-sm-left { text-align: left; }
 	.text-sm-right { text-align: right; }
 	.text-sm-center { text-align: center; }
 	.text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
 	.text-md-left { text-align: left; }
 	.text-md-right { text-align: right; }
 	.text-md-center { text-align: center; }
 	.text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
 	.text-lg-left { text-align: left; }
 	.text-lg-right { text-align: right; }
 	.text-lg-center { text-align: center; }
 	.text-lg-justify { text-align: justify; }
}
/* Fix text alignment - End */